* {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
}

header {
    display: flex; 
    padding: 0.5%; 
}

#view-highscores {
    width: 49.5%; 
    text-align: left;
}

#view-highscores a {
    text-decoration: none;
}

#timer-text {
    width: 49.5%; 
    text-align: right; 
}

section {
    text-align: center; 
    padding: 1.5% 31%; 
}

h1 { 
    font-size: 250%;
    padding: 1.5% 0%; 
}

button {
    background-color: purple;
    color: white; 
    padding: 5px; 
    border-radius: 5px;
    cursor: pointer; 
    margin-right: 3%; 
}

.question-page {
    display: none; 
    text-align: left; 
}

h2 {
    font-size: 180%;
    margin-bottom: 4%;
}

.question-page ol {
    margin: 5% 0%; 
    list-style: decimal;
    list-style-position: inside;
}

.question-page li {
    margin: 1%; 
    width: 55%; 
    padding: 0.5% 2%; 
    line-height: 1.5; 
    background-color: rgb(71, 76, 209);
    color: white; 
    border-radius: 5px;
    border: 1px white solid inset; 
}

.question-page li:hover {
    cursor:pointer;  
    color:rgb(223, 154, 154); 
    border: 1px black solid; 
}

.question-page li:active {
    font-size: 95%; 
}

#result-message {
    margin-top: 5%; 
    padding: 2%;
    width: 100%; 
    border-top: 1px darkolivegreen solid; 
    font-style: italic;
}

.result-page {
    display: none; 
    text-align: left;
}

h3{
    font-size: 150%; 
    margin-bottom: 4%; 
}

#input-group {
    margin-top: 2%; 
}

input {
    margin-right: 2%; 
}

.high-score-page {
    display: none; 
    text-align: center;
}

.high-score-page ol {
    margin: 7% 3%; 
}

.high-score-page ol li{
    margin: 1%; 
    padding: 1% 3%; 
    text-align: left; 
    background-color:burlywood;
    border-radius: 5px; 
}

@media screen and (max-width: 1160px) {
    section {
        padding: 1.5% 15%; 
    }
}

@media screen and (max-width: 768px) {
    section {
        padding: 1.5% 5%; 
    }

    .question-page li { 
        width: 100%; 
    }
}

@media screen and (max-width: 540px) {
    h1 {
        font-size: 220%; 
    }
}